

.orange{
    color: orangered;
}

.page-header {
    text-align: center;
}
.page-header h1{
    font-weight: bold;
}

.page-header p{
    font-size: 18px;
}

footer{
    margin: 0 auto;
    text-align: center;
}