.page-header a {
    text-decoration: none;
    color: #ea853c;
}

.page-header h1 {
    margin-left: 80px;
}

.page-header small {
    margin-left: 10px;
}

body {
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-bottom: 10px ;
    margin-top: -5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.options {
    display: flex;
    justify-content: space-between;
}

.options > a, .registerDiv a {
    text-decoration: none;
}

.registerDiv {
    text-align: center;
}

footer {
    text-align: center;
}

.error {
    color: red;
}

.red {
    color: red;
}

.myContainer{
    margin-top: -20px;
    padding-bottom: 20px;
}
.btn{
    margin-top: 50px;
    margin-bottom: 30px;
}
