.table > thead > tr {
    background-color: #fafafa;
}

.table > thead > tr > td {
    font-weight: bold;
    font-size: 16px;
}

.content {
    width: 1500px;
    margin: 60px auto;
}

.headInfo {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    font-size: 26px;
    font-weight: bold;
}

.headInfo p {
    display: inline-block;
}

.headInfo .right p {
    font-size: 18px;
}

.emptyInfo {
    text-align: center;
    color: #333;
}

.countAll{
    font-size: 16px;
}
