<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiandao8.qiandao8.mapper.ActivityMapper">
    <resultMap id="BaseResultMap" type="com.qiandao8.qiandao8.domain.Activity">
        <id column="id" property="id"/>
        <result column="activity_name" property="activityName"/>
        <result column="originator" property="originator"/>
        <result column="originator_id" property="originatorId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
        <result column="participants_nums" property="participantsNums"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="basic_selc" property="basicSelc"/>
        <result column="list_selc" property="listSelc"/>
    </resultMap>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.qiandao8.qiandao8.domain.Activity"
            useGeneratedKeys="true">
        insert into `activity` (activity_name, originator, originator_id, start_time,
                                end_time, status, type,
                                participants_nums, create_time, update_time,
                                basic_selc, list_selc)
        values (#{activityName}, #{originator}, #{originatorId}, #{startTime},
                                 #{endTime}, #{status}, #{type},
                                 #{participantsNums}, now(), now(),
                                 #{basicSelc}, #{listSelc})
    </insert>
    <update id="increaseParticipantsNumByPK">
        update activity
        set participants_nums = participants_nums + 1
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.qiandao8.qiandao8.domain.Activity">
        update `activity`
        set activity_name     = #{activityName},
            originator        = #{originator},
            start_time        = #{startTime},
            end_time          = #{endTime},
            status            = #{status},
            type              = #{type},
            participants_nums = #{participantsNums},
            update_time       = now(),
            basic_selc        = #{basicSelc},
            list_selc         = #{listSelc}
        where id = #{id}
    </update>
    <sql id="base_column">
        id, activity_name, originator, originator_id, start_time, end_time, status, type, participants_nums
    </sql>
    <sql id="full_column">
        id, activity_name, originator, originator_id, start_time, end_time, status, type, participants_nums,
        create_time, update_time, basic_selc, list_selc
    </sql>
    <sql id="min_column">
        id, activity_name, originator, start_time, end_time, status, basic_selc, list_selc
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="full_column"/>
        from `activity`
        where id = #{id}
        and status &lt;2
    </select>
    <select id="selectEnableActivityByPk" resultMap="BaseResultMap">
        select
        <include refid="full_column"/>
        from `activity`
        where id = #{id}
        and status &lt;2
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="full_column"/>
        from `activity`
        where status &lt;2
        order by id desc
    </select>
    <update id="updateParticipantsNumByPK">
        update activity
        set participants_nums = #{participantsNum}
        where id = #{id}
    </update>
    <select id="getParticipantsNum" resultType="integer">
        select participants_nums
        from activity
        where id = #{id}
    </select>
    <select id="listActivitiesByQueryObj" resultMap="BaseResultMap">
        select
        <include refid="base_column"/>
        from activity
        <where>
            originator_id = #{originatorId}
            #            删除的查询不到
            and status &lt; 2

            <if test="activityName!=null">
                and activity_name = #{activityName}
            </if>
            <if test="originator!=null">
                and originator = #{originator}
            </if>
            <if test="status!=null">
                and status = #{status}
            </if>
            <if test="startTime!=null">
                and start_Time &gt; #{startTime}
            </if>
            <if test="endTime!=null">
                and end_Time &lt; #{endTime}
            </if>
        </where>
        order by id desc
    </select>
    <update id="updateActivitiesStatus">
        update activity
        set status = #{status}
        where id = #{id}
    </update>

    <select id="listFinishedActivities" resultType="java.lang.Long">
        select id
        from activity
        where status = 0
              and end_time &lt; #{endTime}
        order by id desc
    </select>

    <select id="getOngoingActivity" resultType="int">
        select count(id)
        from activity
        where id = #{id}
              and status = 0
    </select>
    <update id="deleteActivity">
        update activity
        set status = 2
        where id = #{id}
              and originator_id = #{originatorId}
    </update>
    <select id="checkActivityCreatedByOid" resultType="int">
        select count(id)
        from activity
        where id=#{aid}
        and originator_id=#{oid}
    </select>
</mapper>