<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiandao8.qiandao8.mapper.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.qiandao8.qiandao8.domain.Activity">
  <id column="id" jdbcType="BIGINT" property="id" />
  <result column="event_name" jdbcType="VARCHAR" property="eventName" />
  <result column="originator" jdbcType="VARCHAR" property="originator" />
  <result column="originator_id" jdbcType="BIGINT" property="originatorId" />
  <result column="start_time" jdbcType="TIME" property="startTime" />
  <result column="end_time" jdbcType="TIME" property="endTime" />
  <result column="status" jdbcType="INTEGER" property="status" />
  <result column="type" jdbcType="INTEGER" property="type" />
  <result column="participants_nums" jdbcType="INTEGER" property="participantsNums" />
  <result column="create_time" jdbcType="TIME" property="createTime" />
  <result column="update_time" jdbcType="TIME" property="updateTime" />
  <result column="basic_selc" jdbcType="LONGVARCHAR" property="basicSelc" />
  <result column="list_selc" jdbcType="LONGVARCHAR" property="listSelc" />
</resultMap>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.qiandao8.qiandao8.domain.Activity" useGeneratedKeys="true">
    insert into `activity` (event_name, originator,originator_id, start_time,
      end_time, status, type, 
      participants_nums, create_time, update_time, 
      basic_selc, list_selc)
    values (#{eventName}, #{originator}, #{originatorId}, #{startTime},
      #{endTime}, #{status}, #{type},
      #{participantsNums}, now(),now(),
      #{basicSelc}, #{listSelc})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qiandao8.qiandao8.domain.Activity">
    update `activity`
    set event_name = #{eventName},
      originator = #{originator},
      start_time = #{startTime},
      end_time = #{endTime},
      status = #{status},
      type = #{type},
      participants_nums = #{participantsNums},
      update_time = now(),
      basic_selc = #{basicSelc},
      list_selc = #{listSelc}
    where id = #{id}
  </update>
  <sql id="base_column">
    id, event_name, originator, originator_id, start_time, end_time, status, type, participants_nums,
    create_time, update_time, basic_selc, list_selc
  </sql>
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    select <include refid="base_column"/>
    from `activity`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="base_column"/>
    from `activity`
  </select>
  <update id="updateParticipantsNumByPK">
    update activity
    set participants_nums = #{participantsNum}
    where id=#{id}
  </update>
  <select id="getParticipantsNum" resultType="java.lang.Integer">
    select participants_nums
    from activity
    where id=#{id}
  </select>
  <select id="listActivitiesByQueryObj" resultMap="BaseResultMap">
    select <include refid="base_column"/>
    from activity
    <where>
      originator_id = #{originatorId}
      <if test="eventName!=null">
        and event_name = #{eventName}
      </if>
      <if test="originator!=null">
        and originator = #{originator}
      </if>
      <if test="status!=null">
        and status = #{status}
      </if>
      <if test="startTime!=null">
        and start_Time &gt; #{startTime}
      </if>
      <if test="endTime!=null">
        and end_Time &lt; #{endTime}
      </if>
    </where>
  </select>
</mapper>